@import "./base.css";

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(23, 26, 25);
  transition: 0.4s;
  padding: 3px;
}

p {
  margin: 0px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(159, 9%, 37%, 0.2);
  }
}
